* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(170, 164, 164);
}
.table {
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
}
.home-icon {
  color: aqua;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.setting-icon {
  color: aqua;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  
}
.add-icon {
  color: aqua;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.contsct-icon {
  color: aqua;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
.table tr {
  background-color: rgba(0, 0, 0, 0.534);
}
.table {
  border-collapse: collapse;
}
.note {
  color: white;
  
}
tr:hover .material-symbols-outlined {
  background-color: aqua;
  color: black;
}
tr:hover {
  background-color: aqua;
  color: black;
}
tr:active .material-symbols-outlined{
  background-color: blue;
  color: white;
}
tr:active {
  background-color: blue;
  color: white;
}
.home-icon:hover {
  color: black;
}
.setting-icon:hover {
  color: black;
}
.add-icon:hover {
  color: black;
}
.contsct-icon:hover {
  color: black;
}
.note:hover {
  color: black;
}
tr {
  border-bottom: 5px solid rgb(170, 164, 164);
  cursor: pointer;
}





