* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.box {
  width: 97%;
  height: 200px;
  background-color: gray;
  margin: auto;
  margin-top: 200px;
  border: 4px aqua solid;
}
.paragraph {
  transform: translatey(100px);
  transform: translatex(200px);
}
