* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: grey;
}
.river h1 {
  text-align: center;
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;
  padding-top: 50px;
}
.river p {
  width: 800px;
  font-family: 'Roboto', sans-serif;
text-align: justify;
margin: auto;
}