* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(71, 65, 65);
}
.box {
  border-radius: 20px;
  border-left: 5px white solid;
  text-align: center;
  color: white;
  width: 1400px;
  height: 220px;
  background-image: linear-gradient(black, rgb(5, 103, 116));
}
.image {
  border-radius: 20px;
  border-left: 5px green solid;
  text-align: center;
  color: white;
  width: 1400px;
  height: 190px;
  background-image: url(image/image.jpg);
}
