* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}
.box {
  width: 100%;
  height: 100vh;
  background-image: url(image/ubisoft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blur {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
}
.center {
  width: 500px;
  height: 300px;
  background-image: url(image/ubisoft.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: auto;
  position: relative;
  top: 100px;
}
.left {
  width: 250px;
  height: 250px;
  background-image: url(image/assassin-screed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  top: 300px;
  left: 250px;
}
.right {
  width: 250px;
  height: 250px;
  background-image: url(image/for-honor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  right: 250px;
}
